* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body,
html,
#root {
    width: 100%;
    height: 100%;
}
.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.loading {
    width: 100%;
    height: 100%;
}
.loading img {
    width: 100%;
    height: 100%;
}
.head {
    width: 100%;
    height: 13%;
    display: flex;
    background: white;
}
.heado {
    width: 5%;
    height: 100%;
}
.heado img {
    margin-left: 20px;
    margin-top: 28px;
}
.headt {
    width: 94%;
    height: 100%;
}
.headt li {
    margin-top: 25px;
    color: black;
    font-size: 15px;
    font-weight: 200px;
}
.headt p {
    font-size: 4px;
    color: black;
}

.homePage {
    width: 100%;
    height: 87%;
    background: pink;
    display: flex;
    overflow: hidden;
}
.ant-layout,
.ant-table-wrapper {
    width: 100%;
    height: 100%;
}
.kxd_right {
    height: 100%;
    width: 100%;
    /* background: skyblue; */
}
#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
